nav {
  margin-bottom: 3rem;
}

nav a:hover {
  text-decoration: underline;
}

nav li ul::before {
  /* fill gap above sub-menus to make mousing over them easier, using https://stackoverflow.com/a/48753914/358804 */
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -0.5rem;
  height: 0.5rem;
}

video {
  max-width: 100%;
}

.dataframe,
.jp-RenderedText {
  max-height: 30rem;
}

.dataframe thead th {
  /* make header sticky */
  position: sticky;
  top: 0;
  /* copied from the <thead> so that the background shows up when scrolling */
  background-color: var(--color);
}

.CodeMirror {
  /* ensure code areas are visible on narrow screens */
  overflow-x: scroll;
}
