__pycache__/
_build/
.ipynb_checkpoints/
.nbgrader.log
*.csv
*.slides.html
* threads.json
conf.py
data
shared
solutions
tmp
Untitled.ipynb

# override the global
!.vscode/settings.json

extras/autograder/results/
