title: "{{course_name}} @ {{school_name}}"
author: Aidan Feldman

# https://jupyterbook.org/en/stable/structure/configure.html#disable-building-files-that-arent-in-the-table-of-contents
only_build_toc_files: true
exclude_patterns:
  - .github/*
  - .pytest_cache/*
  - tmp/*

execute:
  execute_notebooks: "off"
html:
  use_repository_button: true
  extra_navbar: ""
  home_page_in_navbar: false
  extra_footer: |
    <div>
      <a href="https://creativecommons.org/publicdomain/zero/1.0/">
        <img src="https://mirrors.creativecommons.org/presskit/buttons/88x31/svg/cc-zero.svg" alt="Creative Commons 0 1.0" />
      </a>
    </div>
repository:
  url: https://github.com/afeld/python-public-policy
  branch: "{{school_slug}}"
launch_buttons:
  binderhub_url: ""
  {% if id == 'columbia' -%}
  colab_url: https://colab.research.google.com
  {% else -%}
  jupyterhub_url: https://padmgp-4506.rcnyu.org
  {% endif %}
sphinx:
  # avoid the html_theme_options from overriding the ones set by Jupyter Book
  # https://jupyterbook.org/en/stable/advanced/sphinx.html#manual-sphinx-configuration
  recursive_update: true
  config:
    # https://jupyterbook.org/en/stable/interactive/interactive.html#plotly
    html_js_files:
      - https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.4/require.min.js
    html_show_copyright: false
    # https://jupyterbook.org/advanced/html.html#configuring-to-improve-accessibility
    language: en
    # https://myst-parser.readthedocs.io/en/latest/syntax/cross-referencing.html#implicit-targets
    myst_heading_anchors: 4
    html_theme_options:
      # https://github.com/pydata/pydata-sphinx-theme/issues/1492
      navigation_with_keys: false
