{% extends 'lab/index.html.j2' %}

{% block extra_css %}
<link rel="stylesheet" href="https://unpkg.com/mvp.css">
{% endblock extra_css %}

{% block html_head_css %}
<link href="static/styles.css" rel="stylesheet">
{% endblock html_head_css %}

{% block body_header %}
{{ super() }}
<nav>
  <ul>
    {% for week in range(7) %}
    <li>
      Week {{ week }}
      <ul>
        <li><a href="lecture_{{ week }}.html">Lecture</a></li>
        <li><a href="hw_{{ week }}.html">Homework</a></li>
      </ul>
    </li>
    {% endfor %}
  </ul>
</nav>
{% endblock body_header %}
