{% extends 'lab/index.html.j2' %}

{% block extra_css %}
<link rel="stylesheet" href="https://unpkg.com/mvp.css">
{% endblock extra_css %}

{% block html_head_css %}
<link href="static/styles.css" rel="stylesheet">
<script>
  require(['https://cdn.jsdelivr.net/npm/anchor-js/anchor.min.js'], function(AnchorJS) {
    const anchors = new AnchorJS();
    anchors.add('h1,h2,h3,h4');
  });
</script>
{% endblock html_head_css %}

{% block body_header %}
{{ super() }}
<nav>
  <ul>
    <li><a href="https://github.com/afeld/python-public-policy/blob/master/syllabus.md#readme">Syllabus</a></li>
    {% for week in range(7) %}
    <li>
      <a href="lecture_{{ week }}.html">Week {{ week }}</a>
      <ul>
        <li><a href="lecture_{{ week }}.html">Lecture</a></li>
        <li><a href="hw_{{ week }}.html">Homework</a></li>
      </ul>
    </li>
    {% endfor %}
  </ul>
</nav>
{% endblock body_header %}
