.cell_output .output {
  /* keep page from scrolling horizontally */
  max-width: 100%;
  overflow-x: auto;
}

/* keep outputs from being too long */
.cell_output .output {
  max-height: 20rem;
  overflow-y: auto;
}
/* for HTML outputs, go a bit longer, since this includes things like visualizations */
.cell_output .output.text_html {
  max-height: 40rem;
}

#data-shortener-widget #download {
  color: white;
}
