name: Run tests

on: push

jobs:
  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master

  pytest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      # https://docs.github.com/en/actions/using-workflows/reusing-workflows
      - uses: ./.github/actions/setup
      - name: Run tests
        run: make test
